# Configuration file

button {
    #  [default: /redeemcode]
    S:command=/redeemcode

    # Tamanho do botão (px). [range: 8 ~ 64, default: 18]
    I:size=18

    # Posição X do botão (pixels na tela). [range: -10000 ~ 10000, default: -20]
    I:x=-20

    # Posição Y do botão (pixels na tela). [range: -10000 ~ 10000, default: 2]
    I:y=2
}


