# Configuration file

client {
    S:activationMode=ptt
    S:audio3dMode=normal
    B:firstRunComplete=true
    D:microphoneAmplification=1.0
    B:noiseSuppression=false
    D:playbackVolume=1.0
    D:referenceDistance=4.0
    S:selectedMicMixer=Microfone (WO Mic Device)
    S:selectedSpeakerMixer=
    B:showSpeakerIndicators=true
    D:voiceActivationThresholdDb=-50.0
}


voice {
    B:debugSelfEcho=false
    I:opusBitrate=24000
    I:voicePort=25493
    I:voiceRadius=48
}


